
* {
    font-family:'helvetica';
}

body {
    background-color: #715a97;
    background-image: url('fjord.jpg');
    background-size:cover;
}

main {
    max-width: 700px;
    margin: auto;
    background-color: rgba(255,255,255,.7);
    border-radius:20px;
    padding:10px 40px;
    padding-top:20px;
    margin-bottom:100px;
    font-size: 18px;
    color: rgb(50, 50, 50);
    line-height: 1.4;
}


header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 30px;
    line-height: 1.2;
}



h1 {
    font-family:arial;
    font-size: 48px;
    font-weight: normal;
    text-shadow: 0 2px 3px rgba(0, 0, 0, .2);
    margin:10px 30px;
    line-height: 0.9;
    text-align: center;
}
h1 b {
    font-weight: bold;
}

h2 {
    color:#e6ff76;
    text-shadow:0 0 5px rgba(0, 0, 0, .2);
    font-size:38px;
    text-align: center;
    text-transform: uppercase;
    margin:0;
    margin-top:15px;
}

h3 {
    color:#b6ffc8;
    font-size: 32px;
    margin-top:15px;
    margin-bottom:10px;
    text-align:center;
    line-height: 1;
}

.infos {
    margin-top: 20px;
    text-align: left;
}
.contact {
    min-width: 300px;
    display: inline-grid;
    grid-template-columns: 20% 80%;
    font-size:18px;
    font-weight: bold;
    text-align:left;
    margin-bottom:10px;
}
.infos .icone {
    text-align:center;
}

header .fas {
    font-size: 18px;
}

a .fab {
    color: black;
}


a {
    color:#542e92;
    text-decoration: none;
}
a:hover {
    color:#731cff;
    text-decoration: none;
}

p {
    margin:0;
    margin-bottom:5px;
}

ul {
    margin-top:0px;
    margin-block-end:0;
}
ul > li {
    margin:15px 0;
    padding:5px 0;
    border-bottom:1px solid rgb(220,220,220);
}

ul {
    list-style: none;
}

ul ul {
    padding-inline-start: 10px;
}
ul ul li {
    margin:0;
    border-bottom:0;
    padding-bottom:0;
}
ul ul li::before {
    content: "- ";
}

section > ul {
    background-color: white;
    padding:5px 40px;
}

ul + ul {
    padding-top:0;
}

ul + ul li {
    margin-top:0;
}

section {
    background-color:#542e92;
    border-radius:20px;
    margin-bottom:40px;
    overflow:hidden;
}

.resume {
    background-color: white;
    text-align: justify;
    margin: 20px 15px;
    padding: 15px 25px;
    border-radius: 15px;
}

.resume p {
    font-weight:bold;
    text-indent: 20px;
    margin-top:10px;
    margin-bottom:0;
}

.resume div {
    margin-bottom:10px;
    padding-bottom:10px;
    border-bottom:1px solid rgb(220,220,220);
}

section:first-of-type ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

li span {
    font-size:16px;
}


.grey {
    color:rgb(90,90,90);
}
.margin-b {
    margin-bottom:8px;
}
.font-s {
    font-size:16px;
}
.font-l {
    font-size:22px;
}
.bold {
    font-weight:bold;
}
.flex {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}


@media (max-width: 767px) {
    header {
        display: block;
    }

    section:first-of-type ul {
        display: block;
    }
}